/* p{
    text-align: center;
    text-decoration: double;
    color: rgb(105, 56, 82);
    font-size: 20px;
    margin-top: 30px;
} */
.navbar{
    width:auto;
    background-color: rgb(213, 247, 235);

}