<p>Students Details</p>
<nav class="navbar">
  <input
    class="form-control"
    type="text"
    name="StudentName"
    [(ngModel)]="StudentName"
    placeholder="Enter the name to search"
  />
</nav>
<button class="submit" type="submit" (click)="Search()">search</button>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>StudentId</th>
      <th>StudentName</th>
      <th>StudentMarks</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let stu of student
          | paginate: { itemsPerPage: 5, currentPage: pageNumber }
      "
    >
      <td>{{ stu.StudentId }}</td>
      <td>{{ stu.StudentName }}</td>
      <td>{{ stu.StudentMarks }}</td>
    </tr>
  </tbody>
</table>
<pagination-controls
  class="page"
  (pageChange)="pageNumber = $event"
></pagination-controls>
